img.logo {
  filter: invert(100%);
  padding-top: 5px;
}

CartWidget {
  height: 10px;
  
}

.counter {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  row-gap: 20px;
}

.counter h1 {
  color: rgb(16, 0, 54);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.counter__output {
  font-size: 20px;
  color: blue;
}

.btn__container {
  display: flex;
  justify-content:flex-start;
  flex-direction: row;
  column-gap: 20px;
}

.control__btn {
  font-size: 20px;
  padding: 3px;
  background-color: green;
  width: 15px;
  color: rgb(16, 0, 54);
  border: 1px solid rgb(16, 0, 54);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.control__btn:hover {
  background-color: rgb(16, 0, 54);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(16, 0, 54);
}

.reset {
  width: 100px;
  font-size: 15px;
  padding: 10px 20px;
  background-color: transparent;
  color: rgb(16, 0, 54);
  border: 1px solid rgb(16, 0, 54);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.reset:hover {
  background-color: rgb(16, 0, 54);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(16, 0, 54);
}

.product-wrapper {
  display: flex;
  align-items: center;
}

.card-box {
  height: 300px;
  padding: 10px 20px;
}

.button-link {
  text-decoration: none;
  color: white;
}

.button-link:hover {
  text-decoration: none;
  color: white;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
}

.content-wrap {
  flex: 1;
}

.remove-button {
  font-size: 70%;
  padding: 10px 20px;
}

.remove-all-button {
  font-size: 100%;
  padding: 10px 20px;
  
}
